<!-- NOTE TO SELF: HAVE USER DOWNLOAD JSON FILE OF SCOPE -->
<!-- This is how they 'save' and 'load' their towndata -->
<html ng-app="townApp">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="assets/bootstrap-4.1.3-dist/css/bootstrap.css">
	<script src="assets/bootstrap-4.1.3-dist/js/jquery331.js"></script>
	<script src="js/textarea_autoresize.js"></script>
	<script src="assets/bootstrap-4.1.3-dist/js/bootstrap.bundle.min.js"></script>
	<script src="js/nameLists/townNameList.js"></script>
	<script src="js/map.js"></script>
	<script src="assets/angularjs-1-7-5.js"></script>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous">
	<link rel="stylesheet" href="assets/leaflet/leaflet.css">
	<link rel="stylesheet" href="css/custom.css">
</head>

<body ng-controller="townController" data-ng-init="newTown()">
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<a class="navbar-brand" href="#">Town Generator</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#togglableNavbar" aria-controls="togglableNavbar" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="togglableNavbar">
			<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
				<li class="nav-item">
					<a class="nav-link disabled" href="#">Character Sheet (Coming Soon)</a>
				</li>
				<li class="nav-item">
					<a class="nav-link disabled" href="#">Encounter Tracker (Coming Soon)</a>
				</li>

				<li class="nav-item mt-1 mt-md-0 ml-0 ml-md-1">
					<button class="btn btn-info w-100" ng-click="saveFile()">Save <i class="fas fa-download"></i></button>
				</li>
				<li class="nav-item mt-1 mt-md-0 ml-0 ml-md-1">
					<label class="btn btn-info mb-0 w-100">
						Load <i class="fas fa-upload"></i></i>
						<input type="file" class="d-none" onchange="loadFile()" id="fileUpload">
						<input type="checkbox" class="d-none" id="triggerLoadFileCheckbox" ng-change="loadFile()" ng-model="triggerLoadFile">
					</label>
				</li>
				<li class="nav-item mt-1 mt-md-0 ml-0 ml-md-1">
					<button class="btn btn-info w-100" ng-click="newTown()">New Town<i class="fas fa-sync px-2"></i></button>
				</li>
			</ul>
		</div>
	</nav>
	<br>
	<div class="container-fluid">
		<div class="row">
			<div class="col-2 d-none d-md-block">
				<div class="card">
					<div class="card-body">
						ADVERTISEMENT PC
					</div>
				</div>
			</div>
			<div class="col-12 col-md-8">
				<div class="card d-md-none">
					<div class="card-body">
						ADVERTISEMENT MOBILE
					</div>
				</div>
				<br class="d-md-none">
				<div class="card">
					<div class="card-header">
						<h3 class="text-center m-0">
							<input ng-model="townData.name" class="text-center w-100">
						</h3>
					</div>
					<div class="card-body p-0">
						<div class="row mx-0">
							<div class="col-12 col-md-6 p-0">
								<img class="col-12 p-0 maxHeight280" src="{{townData.townImage}}" alt="Image of City">
							</div>
							<div class="col-12 col-md-6 p-0">
								<img class="col-12 p-0 maxHeight280" src="{{townData.townMap}}" alt="Map of City">
								<a href="{{townData.townMap}}" target="_blank" class="imageOverlay">
									<i class="fas fa-expand"></i>
								</a>
							</div>
						</div>
					</div>
					<div class="card-footer">
						<textarea ng-model="townData.description" class="text-center w-100"></textarea>
					</div>
				</div>
				<br>
				<div class="card">
					<div class="card-header">
						<h5 class="text-center">Buildings</h5>
					</div>
					<div class="card-body">
						<input type="search" class="form-control" placeholder="Search for building types. EG: (House, Tavern, Shop, Church, Storage, Factory, Barracks, Medical, School)" ng-model="buildingSearchInput">
						<br>
						<table class="table">
							<thead>
								<tr>
									<th><b>#</b></th>
									<th><b>Building</b></th>
									<th><b>Name</b></th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="building in townData.buildings | filter:buildingSearchInput|orderBy:relevanceSort|limitTo:maxShownBuildings">
									<td>
										<button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#buildingViewModal" ng-click="viewBuilding(building.index)">View</button>
									</td>
									<td>
										<input ng-model="building.type"></label>
									</td>
									<td>
										<input ng-model="building.name"></label>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="card-footer text-center px-0">
						<button class="btn btn-link w-100" ng-click=toggleShowAllBuildings()>
							<i ng-hide="maxShownBuildings == townData.buildings.length">Show All Buildings</i>
							<i ng-show="maxShownBuildings == townData.buildings.length">Show Less Buildings</i>
						</button>
					</div>

				</div>
				<br>
				<div class="card">
					<div class="card-header">
						<h5 class="text-center">People:</h5>
					</div>
					<div class="card-body">
						<input type="search" class="form-control" placeholder="Search for person" ng-model="peopleSearchInput">
						<br>
						<table class="table">
							<thead>
								<tr>
									<th><b>#</b></th>
									<th><b>Name</b></th>
									<th><b>Occupation</b></th>
									<th class="d-none d-md-table-cell"><b>Race</b></th>
									<th class="d-none d-md-table-cell"><b>Age</b></th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="person in townData.people | filter:peopleSearchInput | limitTo:maxShownPeople">
									<td>
										<button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#personViewModal" ng-click="viewPerson(person.data.index)">View</button>
									</td>
									<td>
										<input ng-model="person.data.name">
									</td>
									<td>
										<input ng-model="person.data.job">
									</td>
									<td class="d-none d-md-table-cell">
										<input ng-model="person.data.race">
									</td>
									<td class="d-none d-md-table-cell">
										<input ng-model="person.data.age">
									</td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="card-footer text-center px-0">
						<button class="btn btn-link w-100" ng-click=toggleShowAllPeople()>
							<i ng-hide="maxShownPeople == townData.people.length">Show All People</i>
							<i ng-show="maxShownPeople == townData.people.length">Show Less People</i>
						</button>
					</div>
				</div>
				<br class="d-md-none">
				<div class="card d-md-none">
					<div class="card-body">
						ADVERTISEMENT MOBILE
					</div>
				</div>
			</div>
			<div class="col-2 d-none d-md-block">
				<div class="card">
					<div class="card-body">
						ADVERTISEMENT PC
					</div>
				</div>
			</div>
		</div>
		<br><br><br>
	</div>
	<!-- PEOPLE Modal -->
	<div class="modal fade" id="personViewModal" tabindex="-1" role="dialog">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">
						<input ng-model="townData.people[currentPerson].data.name">
					</h5>
					<button type="button" class="close" data-dismiss="modal"> <span>&times;</span> </button>
				</div>
				<div class="modal-body person-modal">
					<div class="row">
						<div class="col-12 col-md-6">


							<table>
								<tbody>
									<tr>
										<td>Race:</td>
										<td><input class="col-9" ng-model="townData.people[currentPerson].data.race"></td>
										<td>Age:</td>
										<td><input class="col-sm-8" ng-model="townData.people[currentPerson].data.age"></td>
									</tr>
									<tr>
										<td><i class="fas fa-hammer"></i> Job:</td>
										<td><input class="col-sm-8" ng-model="townData.people[currentPerson].data.job"></td>
										<td><i class="fas fa-comment"></i> Lng:</td>
										<td><textarea class="col-sm-8" ng-model="townData.people[currentPerson].data.lng"></textarea></td>
									</tr>
								</tbody>
							</table>
							<hr>
							<table>
								<tbody>
									<tr>
										<td><i class="fas fa-shield-alt"></i> AC:</td>
										<td><input class="col-sm-8" ng-model="townData.people[currentPerson].data.AC"></td>
										<td><i class="fas fa-heart"></i> HP:</td>
										<td><input class="col-sm-8" ng-model="townData.people[currentPerson].data.HP"></td>
										<td><i class="fas fa-shoe-prints"></i> SP:</td>
										<td><input class="col-sm-8" ng-model="townData.people[currentPerson].data.SP"></td>
									</tr>
									<tr>
										<td><i class="fas fa-fist-raised"></i> STR:</td>
										<td><input class="col-sm-8" ng-model="townData.people[currentPerson].data.STR"></td>
										<td><i class="fas fa-running"></i> DEX:</td>
										<td><input class="col-sm-8" ng-model="townData.people[currentPerson].data.DEX"></td>
										<td><i class="fas fa-paw"></i> CON:</td>
										<td><input class="col-sm-8" ng-model="townData.people[currentPerson].data.CON"></td>
									</tr>
									<tr>
										<td><i class="fas fa-book"></i> INT:</td>
										<td><input class="col-sm-8" ng-model="townData.people[currentPerson].data.INT"></td>
										<td><i class="fas fa-tree"></i> WIS:</td>
										<td><input class="col-sm-8" ng-model="townData.people[currentPerson].data.WIS"></td>
										<td><i class="fas fa-comments"></i> CHA:</td>
										<td><input class="col-sm-8" ng-model="townData.people[currentPerson].data.CHA"></td>
									</tr>
								</tbody>
							</table>
						</div>
						<div class="col-12 col-md-6">
							<img class="img-fluid" src="images/human-woman.jpg">
						</div>


						<div class="col-12">
							<b ng-if="townData.people[currentPerson].parents.length > 0">Parents:</b>
							<div ng-repeat="parent in townData.people[currentPerson].parents">
								<label ng-model="parent.data.name"></label>
							</div>
							<br>
							<b ng-if="townData.people[currentPerson].children.length > 0">Children:</b>
							<div ng-repeat="child in townData.people[currentPerson].children">
								<label ng-model="child.data.name"></label>
							</div>
						</div>

						<hr class="col-12">
						<div class="col-12">
							<div class="card">
								<div class="card-header">
									<h6 class="text-center"><i class="fas fa-box-open"></i> Inventory:</h6>
								</div>
								<div class="card-body p-0">
									<div class="row mx-0">
										<div class="col-6 col-md-3 attributeBox" ng-repeat="item in townData.people[currentPerson].data.inventory">
											<b>
												<i ng-if="item.type == 'money'" class="fas fa-dollar-sign"></i>
												<i ng-if="item.type == 'armor'" class="fas fa-tshirt"></i>
											</b>
											<input ng-model="item.value">
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- BUILDING Modal -->
	<div class="modal fade" id="buildingViewModal" tabindex="-1" role="dialog">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">
						<input ng-model="townData.buildings[currentBuilding].type">
						<b ng-show="townData.buildings[currentBuilding].name"> -- </b>
						<input ng-model="townData.buildings[currentBuilding].name">
					</h5>
					<button type="button" class="close" data-dismiss="modal"> <span>&times;</span> </button>
				</div>
				<div class="modal-body">
					<div class="row">
						<div class="col-12">
							<img class="img-fluid" src="{{townData.buildings[currentBuilding].image}}">
						</div>
						<input ng-model="townData.buildings[currentBuilding].description" class="text-center w-100">
						<hr class="col-12">
						<div class="col-12">
							<div class="card">
								<div class="card-header">
									<h6 class="text-center"><i class="fas fa-box-open"></i> Inventory:</h6>
								</div>
								<div class="card-body p-0">
									<div class="row mx-0">
										<div class="col-6 col-md-3 attributeBox" ng-repeat="item in townData.buildings[currentBuilding].inventory">

											<!-- <b> -->

											<i ng-if="item.type" class="{{item.icon}} fa-3x text-center w-100" tooltip="{{item.desc}}" str="{{item.str}}" stealth="{{item.stealth}}" type="{{item.type}}" ac="{{item.ac}}" buffer="{{item.buffer}}"></i>

											<br ng-if="item.type">
											<!-- </b> -->
											<input ng-model="item.name">
											<table>
												<tbody>
													<tr>
														<td>
															<label class="">{{item.cost/1000|floor}}</label>
															<i class="fas fa-coins platinum" type="Money -- Platinum" tooltip="{{items.money.platinum.desc}}"></i>
														</td>
														<td>
															<label class="">{{item.cost%1000/100| floor}}</label>
															<i class="fas fa-coins gold" type="Money -- Gold" class="align-middle" tooltip="{{items.money.gold.desc}}"></i>
														</td>
														<td>
															<label class="">{{item.cost %100/10|floor}}</label>
															<i class="fas fa-coins silver" type="Money -- Silver" class="align-middle" tooltip="{{items.money.silver.desc}}"></i>
														</td>
														<td>
															<label class="">{{item.cost %10%10%10%10}}</label>
															<i class="fas fa-coins copper" type="Money -- Copper" class="align-middle" tooltip="{{items.money.copper.desc}}"></i>
														</td>
														<td>
															<input class="input_centered" ng-model="item.cost">
															<i class="fas fa-coins copper" type="Total in -- Copper" class="align-middle" tooltip="{{items.money.copper.desc}}"></i>
														</td>

													</tr>
												</tbody>
											</table>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
	<div id="mapofcity" value="{{fullscreenSource}}" class="zoomableImage" alt="Map of City" ng-show="showFullScreenImage">
	</div>
	<span class="imageOverlay" style="z-index: 1001; position: fixed;" ng-click="toggleFullscreenImage()" ng-show="showFullScreenImage"><i class="far fa-times-circle"></i></span>

	<script src="js/items.js"></script>
	<script src="js/buildings.js"></script>
	<script src="js/nameLists/F.js"></script>
	<script src="js/nameLists/M.js"></script>
	<script src="js/nameLists/S.js"></script>
	<script src="js/nameLists/population.js"></script>

	<script src="js/townData.js"></script>
	<script src="assets/leaflet/leaflet.js"></script>
	<script src="js/zoomImages.js"></script>
</body>
<script>
	$('textarea').autoResize();

</script>

</html>
