<!-- NOTE TO SELF: HAVE USER DOWNLOAD JSON FILE OF SCOPE -->
<!-- This is how they 'save' and 'load' their towndata -->
<html ng-app="townApp">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="stylesheet" href="assets/bootstrap-4.1.3-dist/css/bootstrap.css">
		<script src="assets/bootstrap-4.1.3-dist/js/jquery331.js"></script>
		<script src="assets/bootstrap-4.1.3-dist/js/bootstrap.js"></script>
		<script src="js/nameLists/townNameList.js"></script>
		<script src="js/nameLists/F.js"></script>
		<script src="js/nameLists/M.js"></script>
		<script src="js/nameLists/S.js"></script>
		<script src="js/map.js"></script>
		<script src="assets/angularjs-1-7-5.js"></script>
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous">
		<link rel="stylesheet" href="assets/leaflet/leaflet.css"></script>
	</head>
	<style>
		.zoomableImage {
			/*width: 100%;*/
			height: 300px;
			/*border: 1px solid #ccc;*/
			/*margin-bottom: 10px;*/
		}
		.attributeBox{
			position: relative;
			display: block;
			padding:5px;
			margin-bottom: -1px;
			background-color: #fff;
			border: 1px solid rgba(0, 0, 0, 0.125);
		}
		.townData{
			resize: none;
			/*overflow: scroll !important;*/
			line-height: 1;
			width: 100% !important;
			border-radius: 0.25rem !important;
			border: 0;
			background-color: transparent !important;
			/*max-height: 100%;*/
			/*height: 0px;*/
			min-height: 30px;
		}
		.editable{
			border: 2px solid #17a2b8 !important;
			resize: vertical;
		}
		.smallText{
			font-size: 0.8rem;
		}
		#mapofcity{
			position: fixed;
			z-index: 1000;
			top: 0px;
			left: 0px;
			width: 100vw;
			height: 100vh;
		}
		.imageOverlay{
			position: absolute;
			right: 5px;
			top: 2px;
			font-size: 30px;
			color: black;
			transition: color 0.5s;
		}
		.imageOverlay:hover{
			color: white;			
		}
	</style>
	<body ng-controller="townController">
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
			<a class="navbar-brand" href="#">Town Generator</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarTogglerDemo02">
				<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
					<li class="nav-item">
						<a class="nav-link disabled" href="#">Character Sheet (Coming Soon)</a>
					</li>
					<li class="nav-item mt-1 mt-md-0 ml-0 ml-md-1">
						<button class="btn btn-info w-100" ng-click="saveFile()">Save <i class="fas fa-download"></i></button>
					</li>
					<li class="nav-item mt-1 mt-md-0 ml-0 ml-md-1">
						<label class="btn btn-info mb-0 w-100">
							Load <i class="fas fa-upload"></i></i>
							<input type="file" class="d-none" onchange="loadFile()" id="fileUpload">
							<input type="checkbox" class="d-none" id="triggerLoadFileCheckbox" ng-change="loadFile()" ng-model="triggerLoadFile">
						</label>
					</li>
					<li class="nav-item mt-1 mt-md-0 ml-0 ml-md-1">
						<button class="btn btn-info w-100" ng-click="toggleEdit()">Edit Town<i class="fas fa-edit px-2"></i></button>
					</li>
					<li class="nav-item mt-1 mt-md-0 ml-0 ml-md-1">
						<button class="btn btn-info w-100" ng-click="newTown()">New Town<i class="fas fa-sync px-2"></i></button>
					</li>
				</ul>
				<!-- 		<form class="form-inline my-2 my-lg-0">
					<input class="form-control mr-sm-2" type="search" placeholder="Search">
					<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
				</form> -->
			</div>
		</nav>
		<br>
		<div class="container-fluid">
			<div class="row">
				<div class="col-2 d-none d-md-block">
					<div class="card">
						<div class="card-body">
							ADVERTISEMENT PC
						</div>
					</div>
				</div>
				<div class="col-12 col-md-8">
					<div class="card d-md-none">
						<div class="card-body">
							ADVERTISEMENT MOBILE
						</div>
					</div>
					<br class="d-md-none">
					<div class="card">
						<div class="card-header">
							<h3 class="text-center m-0">
							<textarea rows="1" ng-model="townData.name" class="townData text-center" readonly='true'></textarea>
							</h3>
						</div>
						<div class="card-body p-0">
							<div class="row mx-0">
								<!-- <div value="images/town.jpg" class="col-12 col-md-6 p-0 zoomableImage" alt="Image Of City"></div> -->
								<!-- <div id="mapofcity" value="images/town-map.jpg" class="col-12 col-md-6 p-0 zoomableImage" alt="Map of City"></div> -->
								<div class="col-12 col-md-6 p-0">
								<img class="col-12 p-0" src="images/town.jpg" alt="Image of City">
								<!-- <span class="imageOverlay" ng-click="toggleFullscreenImage('images/town.jpg')"><i class="fas fa-expand"></i></span> -->
								</div>
								<div class="col-12 col-md-6 p-0">
								<img class="col-12 p-0" src="images/town-map.jpg" alt="Map of City">
								<span class="imageOverlay" ng-click="toggleFullscreenImage('images/town-map.jpg')"><i class="fas fa-expand"></i></span>
								</div>
							</div>
						</div>
						<div class="card-footer">
							<textarea ng-model="townData.description" class="townData text-center" readonly='true'></textarea>
						</div>
					</div>
					<br>
					<div class="card">
						<div class="card-header">
							<h5 class="text-center">Buildings</h5>
						</div>
						<div class="card-body">
							<input type="search" class="form-control" placeholder="Search for building" ng-model="buildingSearchInput">
							<br>
							<table class="table">
								<thead>
									<tr>
										<td><b>#</b></td>
										<td><b>Building</b></td>
										<td><b>Name</b></td>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="building in townData.buildings | filter:buildingSearchInput" >
										<td>
											<button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#buildingViewModal" ng-click="viewBuilding($index)">View</button>
										</td>
										<td><textarea ng-model="building.type" class="townData" readonly='true'></textarea></td>
										<td><textarea ng-model="building.name" class="townData" readonly='true'></textarea></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
					<br>
					<div class="card">
						<div class="card-header">
							<h5 class="text-center">People:</h5>
						</div>
						<div class="card-body">
							<input type="search" class="form-control" placeholder="Search for person" ng-model="peopleSearchInput">
							<br>
							<table class="table">
								<thead>
									<tr>
										<th><b>#</b></th>
										<th><b>Name</b></th>
										<th><b>Occupation</b></th>
										<th class="d-none d-md-table-cell"><b>Race</b></th>
										<th class="d-none d-md-table-cell"><b>Age</b></th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="person in townData.people | filter:peopleSearchInput" >
										<td>
											<button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#personViewModal" ng-click="viewPerson($index)">View</button>
										</td>
										<td><textarea ng-model="person.name" class="townData" readonly='true'></textarea></td>
										<td><textarea ng-model="person.job" class="townData" readonly='true'></textarea></td>
										<td class="d-none d-md-table-cell"><textarea ng-model="person.race" class="townData" readonly='true'></textarea></td>
										<td class="d-none d-md-table-cell"><textarea ng-model="person.age" class="townData" readonly='true'></textarea></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
					<br class="d-md-none">
					<div class="card d-md-none">
						<div class="card-body">
							ADVERTISEMENT MOBILE
						</div>
					</div>
				</div>
				<div class="col-2 d-none d-md-block">
					<div class="card">
						<div class="card-body">
							ADVERTISEMENT PC
						</div>
					</div>
				</div>
			</div>
			<br><br><br>
		</div>
		<!-- PEOPLE Modal -->
		<div class="modal fade" id="personViewModal" tabindex="-1" role="dialog">
			<div class="modal-dialog modal-lg" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title">
						<textarea ng-model="townData.people[currentPerson].name" class="townData" readonly='true'></textarea>
						</h5>
						<button type="button" class="close" data-dismiss="modal"> <span>&times;</span> </button>
					</div>
					<div class="modal-body">
						<div class="row">
							<div class="col-12 d-md-none">
								<img class="img-fluid" src="images/human-woman.jpg">
							</div>
							<div class="col-12 col-md-6">
								<div class="row pl-md-3">
									<div class="attributeBox col-6">
										<div class="row">
											<div class="col-5">Race: </div>
											<div class="col-7">
												<textarea ng-model="townData.people[currentPerson].race" class="townData" readonly='true'></textarea>
											</div>
										</div>
									</div>
									<div class="attributeBox col-6">
										<div class="row">
											<div class="col-5">Age: </div>
											<div class="col-7">
												<textarea ng-model="townData.people[currentPerson].age" class="townData" readonly='true'></textarea>
											</div>
										</div>
									</div>
									<div class="attributeBox col-6">
										<div class="row">
											<div class="col-5"><i class="fas fa-hammer"></i> Job: </div>
											<div class="col-7">
												<textarea ng-model="townData.people[currentPerson].job" class="townData" readonly='true'></textarea>
											</div>
										</div>
									</div>
									<div class="attributeBox col-6">
										<div class="row">
											<div class="col-5"><i class="fas fa-comment"></i> Lng: </div>
											<div class="col-7">
												<textarea ng-model="townData.people[currentPerson].lng" class="townData" readonly='true'></textarea>
											</div>
										</div>
									</div>
									<div class="attributeBox col-4">
										<div class="row">
											<div class="col-7 smallText"><i class="fas fa-shield-alt"></i> AC: </div>
											<div class="col-5 smallText">
												<textarea ng-model="townData.people[currentPerson].AC" class="townData" readonly='true'></textarea>
											</div>
										</div>
									</div>
									<div class="attributeBox col-4">
										<div class="row">
											<div class="col-7 smallText"><i class="fas fa-heart"></i> HP: </div>
											<div class="col-5 smallText">
												<textarea ng-model="townData.people[currentPerson].HP" class="townData" readonly='true'></textarea>
											</div>
										</div>
									</div>
									<div class="attributeBox col-4">
										<div class="row">
											<div class="col-7 smallText"><i class="fas fa-shoe-prints"></i> SP: </div>
											<div class="col-5 smallText">
												<textarea ng-model="townData.people[currentPerson].SP" class="townData" readonly='true'></textarea>
											</div>
										</div>
									</div>
									<div class="attributeBox col-4">
										<div class="row">
											<div class="col-7 smallText"><i class="fas fa-fist-raised"></i> STR: </div>
											<div class="col-5 smallText">
												<textarea ng-model="townData.people[currentPerson].STR" class="townData" readonly='true'></textarea>
											</div>
										</div>
									</div>
									<div class="attributeBox col-4">
										<div class="row">
											<div class="col-7 smallText"><i class="fas fa-running"></i> DEX: </div>
											<div class="col-5 smallText">
												<textarea ng-model="townData.people[currentPerson].DEX" class="townData" readonly='true'></textarea>
											</div>
										</div>
									</div>
									<div class="attributeBox col-4">
										<div class="row">
											<div class="col-7 smallText"><i class="fas fa-paw"></i> CON: </div>
											<div class="col-5 smallText">
												<textarea ng-model="townData.people[currentPerson].CON" class="townData" readonly='true'></textarea>
											</div>
										</div>
									</div>
									<div class="attributeBox col-4">
										<div class="row">
											<div class="col-7 smallText"><i class="fas fa-book"></i> INT: </div>
											<div class="col-5 smallText">
												<textarea ng-model="townData.people[currentPerson].INT" class="townData" readonly='true'></textarea>
											</div>
										</div>
									</div>
									<div class="attributeBox col-4">
										<div class="row">
											<div class="col-7 smallText"><i class="fas fa-tree"></i> WIS: </div>
											<div class="col-5 smallText">
												<textarea ng-model="townData.people[currentPerson].WIS" class="townData" readonly='true'></textarea>
											</div>
										</div>
									</div>
									<div class="attributeBox col-4">
										<div class="row">
											<div class="col-7 smallText"><i class="fas fa-comments"></i> CHA: </div>
											<div class="col-5 smallText">
												<textarea ng-model="townData.people[currentPerson].CHA" class="townData" readonly='true'></textarea>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-6 d-none d-md-inline">
								<img class="img-fluid" src="images/human-woman.jpg">
							</div>
							<hr class="col-12">
							<div class="col-12">
								<div class="card">
									<div class="card-header"><h6 class="text-center"><i class="fas fa-box-open"></i> Inventory:</h6></div>
									<div class="card-body p-0">
										<div class="row mx-0">
											<div class="col-6 col-md-3 attributeBox" ng-repeat="item in townData.people[currentPerson].inventory">
												<div class="row">
													<div class="col-2">
														<i ng-if="item.type == 'money'" class="fas fa-dollar-sign"></i>
														<i ng-if="item.type == 'armor'" class="fas fa-tshirt"></i>
													</div>
													<div class="col-10">
														<textarea ng-model="item.value" class="townData" readonly='true'> </textarea>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>
		<!-- BUILDING Modal -->
		<div class="modal fade" id="buildingViewModal" tabindex="-1" role="dialog">
			<div class="modal-dialog modal-lg" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title">
						<div class="row">
							<div class="col-4">
								<textarea ng-model="townData.buildings[currentBuilding].type" class="townData" readonly='true'> </textarea>
								
							</div>
							<div class="col-8" ng-if="townData.buildings[currentBuilding].name">
								<div class="row">
									<div class="col-2">
										--
									</div>
									<div class="col-10">
										<textarea ng-model="townData.buildings[currentBuilding].name" class="townData" readonly='true'> </textarea>
									</div>
								</div>
							</div>
						</div>
						</h5>
						<button type="button" class="close" data-dismiss="modal"> <span>&times;</span> </button>
					</div>
					<div class="modal-body">
						<div class="row">
							<div class="col-12">
								<img class="img-fluid" src="images/tavern.jpg">
							</div>
							<div class="col-12" ng-if="townData.buildings[currentBuilding].description">
								<textarea ng-model="townData.buildings[currentBuilding].description" class="townData font-italic text-center bg-light rounded p-2" readonly='true'> </textarea>
							</div>
							<hr class="col-12">
							<div class="col-12">
								<div class="card">
									<div class="card-header"><h6 class="text-center"><i class="fas fa-box-open"></i> Inventory:</h6></div>
									<div class="card-body p-0">
										<div class="row mx-0">
											<div class="col-6 col-md-3 attributeBox" ng-repeat="item in townData.buildings[currentBuilding].inventory">
												<div class="row">
													<div class="col-2">
														<i ng-if="item.type == 'money'" class="fas fa-dollar-sign"></i>
														<i ng-if="item.type == 'armor'" class="fas fa-tshirt"></i>
													</div>
													<div class="col-10">
														<textarea ng-model="item.value" class="townData" readonly='true'> </textarea>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>
		<div id="mapofcity" value="{{fullscreenSource}}" class="zoomableImage" alt="Map of City" ng-show="showFullScreenImage">
		</div>
		<span class="imageOverlay" style="z-index: 1001" ng-click="toggleFullscreenImage()" ng-show="showFullScreenImage"><i class="far fa-times-circle"></i></span>

		<script src="js/townData.js"></script>
		</style>
		<script src="assets/leaflet/leaflet.js"></script>
		<script>
		// Using leaflet.js to pan and zoom a big image.
		// See also: http://kempe.net/blog/2014/06/14/leaflet-pan-zoom-image.html
		// create the slippy map
		var zoomableImages = document.getElementsByClassName('zoomableImage');
		for (var i = 0; i < zoomableImages.length; i++) {
			zImage = zoomableImages[i];
			var mapurl = zImage.getAttribute('value');
			var map = L.map(zImage, {
			minZoom: 1,
			maxZoom: 10,
			center: [0, 0],
			zoom: 1,
			zoomControl:true,
			attributionControl: false,
			crs: L.CRS.Simple
			});
			// dimensions of the image
			var w = 320000,
			h = 150000,
			url = mapurl;
			// calculate the edges of the image, in coordinate space
			var southWest = map.unproject([0, h], map.getMaxZoom()-1);
			var northEast = map.unproject([w, 0], map.getMaxZoom()-1);
			var bounds = new L.LatLngBounds(southWest, northEast);
			// add the image overlay,
			// so that it covers the entire map
			L.imageOverlay(url, bounds).addTo(map);
			// tell leaflet that the map is exactly as big as the image
			map.setMaxBounds(bounds);
		}
		</script>
	</body>
</html>